.mainSectionContainer{
    /* border: 2px solid white; */
    border-radius: 6px;
    width: 70%;
    height: 98%;
    overflow-y: scroll;
    background:linear-gradient(to bottom,rgb(42, 42, 42),black);
    height: fit-content;  /* Or just don't set height at all */
    max-height: 80vh;
}