.trendingSectionMainContainer{
    /* border: 2px solid red; */
    height: 54%;
    width: 98%;
    margin: auto;
    padding: 0.5rem 0;
}

.trendingSectionMainContainer span{
    font-size: 1.3rem;
    font-weight: 700;
    margin-left: 1.3rem;
}