.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
.mainContainer{
    /* border: 2px solid blue; */
    height: 100vh;
    background-color: rgb(11, 11, 11);
    position: fixed;
    min-height: 100vh;
}

.mainContainerSection{
    /* border: 2px solid red; */
    display: flex;
    height: 82%;
    justify-content: space-evenly;
    
}

*::-webkit-scrollbar-thumb{
    display: none;
  }